<div id="view-kakeibo" class="view-section">
    <div class="year-controls">
        <select id="year-select"></select>
        <div>
            <button class="btn-year-ctrl bg-green" id="btn-year-add">追加</button>
            <button class="btn-year-ctrl bg-red" id="btn-year-del">削除</button>
        </div>
    </div>
    <div class="month-selector" id="month-tabs"></div>
    <h2 id="monthly-header-title">収支</h2>
    <div id="monthly-container"></div>
    <div class="add-block-area">
        <button class="big-btn" id="btn-add-cat1">リスト1を追加</button>
        <button class="big-btn" id="btn-add-cat2">リスト2を追加</button>
    </div>
</div>