<div id="view-todo" class="view-section">
    <div id="todo-list-view">
        <button class="add-row-btn" id="btn-todo-add">＋ 新しいToDoを追加</button>
        <div id="todo-list-container" style="margin-top:15px;"></div>
    </div>
    <div id="todo-editor" class="hidden">
        <div class="editor-toolbar">
            <button class="btn-green" id="btn-todo-back">＜ 戻る</button>
            <button class="btn-red" id="btn-todo-del">削除</button>
        </div>
        <div class="todo-edit-header" style="display:flex;align-items:center;padding:10px;">
            <input type="checkbox" id="todo-edit-done" style="width:25px;height:25px;margin-right:10px;">
            <input type="text" id="todo-edit-title" class="todo-title-input" placeholder="タスク名" style="flex:1;">
        </div>
        <textarea id="todo-edit-body" class="todo-body" placeholder="詳細を入力..."></textarea>
    </div>
</div>