#annual-section {
    background: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

.annual-group {
    margin-bottom: 30px;
}

.annual-header {
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid #2e7d32;
    margin-bottom: 10px;
    padding-bottom: 2px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.annual-header span {
    border-left: 6px solid #2e7d32;
    padding-left: 10px;
}

h2 {
    font-size: 1.2em;
    margin: 20px 0 10px;
    color: #fff;
}

.col-date {
    width: 65px;
}

.col-money {
    width: 90px;
}

.col-btn {
    width: 32px;
}