.summary-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #252525;
    padding: 8px 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    gap: 5px;
}

.summary-item {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.summary-label {
    font-size: 0.8em;
    color: #aaa;
    margin-right: 4px;
}

.summary-input {
    text-align: right;
    color: #80d8ff;
    width: 90px;
    height: 2.2em;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.1em;
    background: #333;
    border: 1px solid #444;
    border-radius: 6px;
}

.total-val-box {
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: 3px;
    text-align: right;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.05em;
    padding: 4px;
    height: 2.0em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}