.summary-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #252525;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #383838;
}

.total-val-box {
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: 3px;
    text-align: right;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.05em;
    padding: 4px;
    height: 2.0em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}