input.day-input {
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-weight: bold;
}

input.money-input {
    text-align: right;
    color: #80d8ff;
    width: 100%;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: -0.5px;
}

textarea.kakeibo-text {
    width: 100%;
    color: #eee;
    resize: none;
    line-height: 1.2em;
    padding: 4px 2px;
    word-break: break-all;
    white-space: pre-wrap;
    min-height: 1.2em;
}

.no-border-block input,
.no-border-block textarea {
    border: none !important;
    background: transparent !important;
}

.btn-del {
    color: #f44336 !important;
}