.category-block {
    background: #1e1e1e;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
}

.cat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    background: #2c2c2c;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #444;
}