.summary-item {
    display: flex;
    align-items: center;
}

.summary-input {
    text-align: right;
    color: #80d8ff;
    width: 120px;
    height: 2.5em;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: -0.5px;
    padding-right: 6px;
    font-size: 1.3em;
    background: #333;
    border: 1px solid #555;
    border-radius: 4px;
}

.total-val-box {
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: 3px;
    text-align: right;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.05em;
    padding: 4px;
    height: 2.0em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}