#memo-editor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    z-index: 2000;
    display: flex;
    flex-direction: column;
}

.memo-title-input {
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #333;
    outline: none;
}

.memo-body {
    flex: 1;
    background: #272727;
    color: #f0f0f0;
    border: none;
    padding: 15px;
    font-size: 1em;
    font-family: monospace;
    resize: none;
    outline: none;
}

.editor-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #202020;
    border-bottom: 1px solid #333;
}